@using JetBrains.Annotations
@using TauStellwerk.Client.Services
@using System.Formats.Asn1
@using TauStellwerk.Base.Model
@using TauStellwerk.Client.Model
@using TauStellwerk.Client.Model.Engine
@using TauStellwerk.WebClient.Pages
@using System.ComponentModel

@inject AppState _appState
@inject EngineService _engineService;

<div class="box is-engine-controller has-shadow">
    <div class="ec-grid-header is-flex-horizontal align-baseline">
        <span>@Engine.Name</span>
        <span class="flex-filler"/>
        <button class="bold button-secondary" @onclick="RemoveEngine ">X</button>
    </div>
    <picture class="ec-grid-image">
        @foreach (var imageset in Engine.Images.GroupBy(e => e.Importance).OrderBy(x => x.Key))
        {
            var srcset = string.Join(',', imageset.Select(i => $"images/{i.Filename} {i.Width}w"));
            <source sizes="@Sizes" srcset="@srcset" type="@imageset.FirstOrDefault()?.Type">
        }
        <img src="img/noImageImage.png" alt="Engine image"/>
    </picture>
    <label class="ec-grid-slider has-100percent-height">
        <!-- orient="vertical" is for firefox -->
        <input type="range" orient="vertical" min="0" max="126" value="@Engine.Throttle" @oninput="SetSpeed" />
    </label>
    <div class="ec-grid-direction center">
        <button class="bold" disabled="@(Engine.Direction == Direction.Backwards)" @onclick="ChangeDirection">&lt;</button>
        <button class="bold" disabled="@(Engine.Direction == Direction.Forwards)" @onclick="ChangeDirection" >&gt;</button>
    </div>
    <output class="ec-grid-speed center">@Engine.Throttle</output>
    <div class="ec-grid-functions can-scroll-y has-100percent-max-height">
        @foreach (var function in Engine.Functions.OrderBy(e => e.Number))
        {
            <FunctionButton
                EngineId=Engine.Id
                Function=function
                />
        }
    </div>
    <div class="ec-grid-estop center">
        <button class="bold estop-button" @onclick="EStop" title="Emergency stop this activeEngine.">Emergency Stop</button>
    </div>
</div>

@code {
    private const string Sizes = "(min-width: 769px) 50vw,(min-width: 1216px) 25vw,(min-width: 1408px) 20vw,100vw";

    [Parameter]
    public ActiveEngine Engine { get; init; } = null!;

    private void ChangeDirection()
    {
        if (Engine.Direction == Direction.Forwards)
        {
            _ = _engineService.SetSpeed(Engine, 0, Direction.Backwards);
        }
        else
        {
            _ = _engineService.SetSpeed(Engine, 0, Direction.Forwards);
        }
    }

    private void EStop()
    {
        _ = _engineService.SetEStop(Engine);
    }

    private void RemoveEngine()
    {
        _appState.ActiveEngines.Remove(Engine);
        _ = _engineService.ReleaseEngine(Engine.Id);
    }

    private void SetSpeed(ChangeEventArgs obj)
    {
        var throttle = int.Parse(obj.Value as string ?? throw new InvalidOperationException());
        _ = _engineService.SetSpeed(Engine, throttle, Engine.Direction);
    }

}
